In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from urllib.request import urlopen
from bs4 import BeautifulSoup

url = "http://www.hubertiming.com/results/2017GPTR10K"
html = urlopen(url)

soup = BeautifulSoup(html, 'lxml')
type(soup)

# Get the title
title = soup.title
print(title)

# Print out the text
text = soup.get_text()
# print(soup.text)

# all_links = soup.find_all("a")
# for link in all_links:
#     print(link.get("href"))

# # Print the first 10 rows for sanity check
# rows = soup.find_all('tr')
# print(rows[:10])

<title>Race results for the 2017 Intel Great Place to Run \ Urban Clash Games!</title>

In [3]:
rows = soup.find_all('tr')

for row in rows:
    row_td = row.find_all('td')
    str_cells = str(row_td)
    cleantext = BeautifulSoup(str_cells, "lxml").get_text()
#     print(cleantext)

In [34]:
import re

list_rows = []
for row in rows[1:]:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '',str_cells))
    clean2 = clean2.replace('\n', ' ').replace('\r', '')
    clean2 = (re.sub('\s\s+', ' ', clean2))
    list_rows.append(clean2)
print(clean2)
type(clean2)

[577, 443, LIBBY B MITCHELL , F, HILLSBORO, OR, 1:41:18, 16:20, 1:42:10, ]

str

In [35]:
df = pd.DataFrame(list_rows)
df.head(10)

                                                   0
0                                  [Finishers:, 577]
1                                       [Male:, 414]
2                                     [Female:, 163]
3                                                 []
4  [1, 814, JARED WILSON , M, TIGARD, OR, 36:21, ...
5  [2, 573, NATHAN A SUSTERSIC , M, PORTLAND, OR,...
6  [3, 687, FRANCISCO MAYA , M, PORTLAND, OR, 37:...
7  [4, 623, PAUL MORROW , M, BEAVERTON, OR, 38:34...
8  [5, 569, DEREK G OSBORNE , M, HILLSBORO, OR, 3...
9  [6, 642, JONATHON TRAN , M, PORTLAND, OR, 39:4...

In [36]:
df1 = df[0].str.split(',', expand=True)
df1.head(10)

,0,1,2,3,4,5,6,7,8,9
0,[Finishers:,577],None,None,None,None,None,None,None,None
1,[Male:,414],None,None,None,None,None,None,None,None
2,[Female:,163],None,None,None,None,None,None,None,None
3,[],None,None,None,None,None,None,None,None,None
4,[1,814,JARED WILSON,M,TIGARD,OR,36:21,5:51,36:24,]
5,[2,573,NATHAN A SUSTERSIC,M,PORTLAND,OR,36:42,5:55,36:45,INTEL TEAM F ]
6,[3,687,FRANCISCO MAYA,M,PORTLAND,OR,37:44,6:05,37:48,]
7,[4,623,PAUL MORROW,M,BEAVERTON,OR,38:34,6:13,38:37,]
8,[5,569,DEREK G OSBORNE,M,HILLSBORO,OR,39:21,6:20,39:24,INTEL TEAM F ]
9,[6,642,JONATHON TRAN,M,PORTLAND,OR,39:49,6:25,39:55,]

In [37]:
df1[0] = df1[0].str.strip('[')
df1.head(10)

,0,1,2,3,4,5,6,7,8,9
0,Finishers:,577],None,None,None,None,None,None,None,None
1,Male:,414],None,None,None,None,None,None,None,None
2,Female:,163],None,None,None,None,None,None,None,None
3,],None,None,None,None,None,None,None,None,None
4,1,814,JARED WILSON,M,TIGARD,OR,36:21,5:51,36:24,]
5,2,573,NATHAN A SUSTERSIC,M,PORTLAND,OR,36:42,5:55,36:45,INTEL TEAM F ]
6,3,687,FRANCISCO MAYA,M,PORTLAND,OR,37:44,6:05,37:48,]
7,4,623,PAUL MORROW,M,BEAVERTON,OR,38:34,6:13,38:37,]
8,5,569,DEREK G OSBORNE,M,HILLSBORO,OR,39:21,6:20,39:24,INTEL TEAM F ]
9,6,642,JONATHON TRAN,M,PORTLAND,OR,39:49,6:25,39:55,]

In [38]:
col_labels = soup.find_all('th')

In [41]:
all_header = []
col_str = str(col_labels)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()
all_header.append(cleantext2)
print(all_header)

['[Place, Bib, Name, Gender, City, State, Chip Time, Chip Pace, Gun Time, Team]']

In [42]:
df2 = pd.DataFrame(all_header)
df2.head()

                                                   0
0  [Place, Bib, Name, Gender, City, State, Chip T...

In [43]:
df3 = df2[0].str.split(',', expand=True)
df3.head()

,0,1,2,3,4,5,6,7,8,9
0,[Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gun Time,Team]

In [44]:
frames = [df3, df1]

In [45]:
df4 = pd.concat(frames)
df4.head(10)

,0,1,2,3,4,5,6,7,8,9
0,[Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gun Time,Team]
0,Finishers:,577],None,None,None,None,None,None,None,None
1,Male:,414],None,None,None,None,None,None,None,None
2,Female:,163],None,None,None,None,None,None,None,None
3,],None,None,None,None,None,None,None,None,None
4,1,814,JARED WILSON,M,TIGARD,OR,36:21,5:51,36:24,]
5,2,573,NATHAN A SUSTERSIC,M,PORTLAND,OR,36:42,5:55,36:45,INTEL TEAM F ]
6,3,687,FRANCISCO MAYA,M,PORTLAND,OR,37:44,6:05,37:48,]
7,4,623,PAUL MORROW,M,BEAVERTON,OR,38:34,6:13,38:37,]
8,5,569,DEREK G OSBORNE,M,HILLSBORO,OR,39:21,6:20,39:24,INTEL TEAM F ]

In [46]:
df5 = df4.rename(columns=df4.iloc[0])
df5.head()

,[Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gun Time,Team]
0,[Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gun Time,Team]
0,Finishers:,577],None,None,None,None,None,None,None,None
1,Male:,414],None,None,None,None,None,None,None,None
2,Female:,163],None,None,None,None,None,None,None,None
3,],None,None,None,None,None,None,None,None,None

In [47]:
df5.info()
df5.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 582 entries, 0 to 580
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   [Place      582 non-null    object
 1    Bib        581 non-null    object
 2    Name       578 non-null    object
 3    Gender     578 non-null    object
 4    City       578 non-null    object
 5    State      578 non-null    object
 6    Chip Time  578 non-null    object
 7    Chip Pace  578 non-null    object
 8    Gun Time   578 non-null    object
 9    Team]      578 non-null    object
dtypes: object(10)
memory usage: 50.0+ KB

(582, 10)

In [48]:
df6 = df5.dropna(axis=0, how='any')
df6.info()
df6.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 578 entries, 0 to 580
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   [Place      578 non-null    object
 1    Bib        578 non-null    object
 2    Name       578 non-null    object
 3    Gender     578 non-null    object
 4    City       578 non-null    object
 5    State      578 non-null    object
 6    Chip Time  578 non-null    object
 7    Chip Pace  578 non-null    object
 8    Gun Time   578 non-null    object
 9    Team]      578 non-null    object
dtypes: object(10)
memory usage: 49.7+ KB

(578, 10)

In [50]:
df7 = df6.drop(df6.index[0])
df7.head()

,[Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gun Time,Team]
4,1,814,JARED WILSON,M,TIGARD,OR,36:21,5:51,36:24,]
5,2,573,NATHAN A SUSTERSIC,M,PORTLAND,OR,36:42,5:55,36:45,INTEL TEAM F ]
6,3,687,FRANCISCO MAYA,M,PORTLAND,OR,37:44,6:05,37:48,]
7,4,623,PAUL MORROW,M,BEAVERTON,OR,38:34,6:13,38:37,]
8,5,569,DEREK G OSBORNE,M,HILLSBORO,OR,39:21,6:20,39:24,INTEL TEAM F ]

In [53]:
df7.rename(columns={'[Place': 'Place'},inplace=True)
df7.rename(columns={' Team]': 'Team'},inplace=True)
df7.head()

,Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gun Time,Team
4,1,814,JARED WILSON,M,TIGARD,OR,36:21,5:51,36:24,]
5,2,573,NATHAN A SUSTERSIC,M,PORTLAND,OR,36:42,5:55,36:45,INTEL TEAM F ]
6,3,687,FRANCISCO MAYA,M,PORTLAND,OR,37:44,6:05,37:48,]
7,4,623,PAUL MORROW,M,BEAVERTON,OR,38:34,6:13,38:37,]
8,5,569,DEREK G OSBORNE,M,HILLSBORO,OR,39:21,6:20,39:24,INTEL TEAM F ]

In [54]:
df7['Team'] = df7['Team'].str.strip(']')
df7.head()

,Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gun Time,Team
4,1,814,JARED WILSON,M,TIGARD,OR,36:21,5:51,36:24,
5,2,573,NATHAN A SUSTERSIC,M,PORTLAND,OR,36:42,5:55,36:45,INTEL TEAM F
6,3,687,FRANCISCO MAYA,M,PORTLAND,OR,37:44,6:05,37:48,
7,4,623,PAUL MORROW,M,BEAVERTON,OR,38:34,6:13,38:37,
8,5,569,DEREK G OSBORNE,M,HILLSBORO,OR,39:21,6:20,39:24,INTEL TEAM F

In [71]:
time_list = df7[' Chip Time'].tolist()

# You can use a for loop to convert 'Chip Time' to minutes

time_mins = []
for i in time_list:
    time = i.split(':')
#     math = (int(h) * 3600 + int(m) * 60 + int(s))/60
#     time_mins.append(math)
    print(time)
    if len(time) == 3:
#         math = (int(time[0]) * 3600 + int([1]) * 60 + int([2]))/60
        print(time[0])
#print(time_mins)

[' 36', '21']
[' 36', '42']
[' 37', '44']
[' 38', '34']
[' 39', '21']
[' 39', '49']
[' 40', '04']
[' 40', '05']
[' 40', '17']
[' 40', '21']
[' 40', '28']
[' 40', '36']
[' 40', '43']
[' 41', '01']
[' 41', '19']
[' 41', '43']
[' 41', '59']
[' 42', '23']
[' 42', '29']
[' 42', '35']
[' 42', '36']
[' 42', '37']
[' 42', '56']
[' 43', '26']
[' 43', '27']
[' 43', '40']
[' 43', '42']
[' 43', '43']
[' 43', '46']
[' 43', '46']
[' 43', '47']
[' 43', '47']
[' 44', '04']
[' 44', '05']
[' 44', '06']
[' 44', '07']
[' 44', '23']
[' 44', '38']
[' 44', '41']
[' 44', '42']
[' 44', '48']
[' 45', '03']
[' 45', '05']
[' 45', '10']
[' 45', '11']
[' 45', '11']
[' 45', '13']
[' 45', '14']
[' 45', '15']
[' 45', '17']
[' 45', '27']
[' 45', '28']
[' 45', '29']
[' 45', '36']
[' 45', '36']
[' 45', '40']
[' 45', '40']
[' 45', '49']
[' 45', '55']
[' 46', '02']
[' 46', '13']
[' 46', '20']
[' 46', '23']
[' 46', '26']
[' 46', '33']
[' 46', '35']
[' 46', '41']
[' 46', '42']
[' 46', '45']
[' 46', '46']
[' 46', '47']
[' 46', '49']
[' 46', '49']
[' 46', '52']
[' 46', '55']
[' 46', '56']
[' 47', '00']
[' 47', '02']
[' 47', '05']
[' 47', '05']
[' 47', '08']
[' 47', '09']
[' 47', '27']
[' 47', '29']
[' 47', '31']
[' 47', '35']
[' 47', '42']
[' 47', '45']
[' 47', '49']
[' 47', '50']
[' 47', '55']
[' 47', '56']
[' 47', '56']
[' 47', '58']
[' 47', '59']
[' 48', '09']
[' 48', '13']
[' 48', '18']
[' 48', '18']
[' 48', '20']
[' 48', '21']
[' 48', '29']
[' 48', '30']
[' 48', '37']
[' 48', '38']
[' 48', '39']
[' 48', '40']
[' 48', '42']
[' 48', '43']
[' 48', '44']
[' 48', '49']
[' 48', '56']
[' 49', '03']
[' 49', '09']
[' 49', '12']
[' 49', '18']
[' 49', '23']
[' 49', '26']
[' 49', '30']
[' 49', '32']
[' 49', '35']
[' 49', '42']
[' 49', '44']
[' 49', '44']
[' 49', '51']
[' 49', '54']
[' 49', '58']
[' 50', '07']
[' 50', '12']
[' 50', '15']
[' 50', '18']
[' 50', '19']
[' 50', '22']
[' 50', '24']
[' 50', '26']
[' 50', '29']
[' 50', '36']
[' 50', '38']
[' 50', '39']
[' 50', '40']
[' 50', '41']
[' 50', '43']
[' 50', '46']
[' 50', '51']
[' 51', '00']
[' 51', '02']
[' 51', '05']
[' 51', '06']
[' 51', '08']
[' 51', '08']
[' 51', '10']
[' 51', '12']
[' 51', '18']
[' 51', '20']
[' 51', '22']
[' 51', '24']
[' 51', '34']
[' 51', '35']
[' 51', '38']
[' 51', '41']
[' 51', '43']
[' 51', '49']
[' 51', '52']
[' 51', '54']
[' 52', '15']
[' 52', '17']
[' 52', '25']
[' 52', '26']
[' 52', '34']
[' 52', '34']
[' 52', '35']
[' 52', '35']
[' 52', '36']
[' 52', '38']
[' 52', '38']
[' 52', '41']
[' 52', '43']
[' 52', '47']
[' 52', '48']
[' 52', '50']
[' 52', '55']
[' 52', '55']
[' 52', '58']
[' 53', '02']
[' 53', '05']
[' 53', '06']
[' 53', '09']
[' 53', '12']
[' 53', '16']
[' 53', '23']
[' 53', '26']
[' 53', '31']
[' 53', '32']
[' 53', '33']
[' 53', '37']
[' 53', '44']
[' 53', '45']
[' 53', '49']
[' 53', '53']
[' 53', '56']
[' 53', '58']
[' 53', '59']
[' 53', '59']
[' 54', '05']
[' 54', '09']
[' 54', '10']
[' 54', '16']
[' 54', '17']
[' 54', '17']
[' 54', '20']
[' 54', '21']
[' 54', '29']
[' 54', '38']
[' 54', '41']
[' 54', '41']
[' 54', '43']
[' 54', '44']
[' 54', '46']
[' 54', '50']
[' 54', '53']
[' 55', '00']
[' 55', '00']
[' 55', '00']
[' 55', '00']
[' 55', '00']
[' 55', '05']
[' 55', '12']
[' 55', '16']
[' 55', '19']
[' 55', '23']
[' 55', '28']
[' 55', '29']
[' 55', '33']
[' 55', '42']
[' 55', '45']
[' 55', '50']
[' 55', '56']
[' 56', '00']
[' 56', '06']
[' 56', '13']
[' 56', '19']
[' 56', '20']
[' 56', '26']
[' 56', '30']
[' 56', '31']
[' 56', '33']
[' 56', '38']
[' 56', '48']
[' 56', '55']
[' 56', '56']
[' 56', '58']
[' 56', '58']
[' 57', '03']
[' 57', '05']
[' 57', '05']
[' 57', '05']
[' 57', '13']
[' 57', '16']
[' 57', '17']
[' 57', '31']
[' 57', '31']
[' 57', '33']
[' 57', '33']
[' 57', '36']
[' 57', '38']
[' 57', '42']
[' 57', '43']
[' 57', '45']
[' 57', '51']
[' 58', '01']
[' 58', '02']
[' 58', '13']
[' 58', '15']
[' 58', '22']
[' 58', '28']
[' 58', '28']
[' 58', '30']
[' 58', '33']
[' 58', '35']
[' 58', '39']
[' 58', '40']
[' 58', '45']
[' 58', '47']
[' 58', '51']
[' 58', '51']
[' 58', '58']
[' 58', '59']
[' 58', '59']
[' 59', '01']
[' 59', '02']
[' 59', '11']
[' 59', '19']
[' 59', '27']
[' 59', '27']
[' 59', '29']
[' 59', '29']
[' 59', '30']
[' 59', '31']
[' 59', '32']
[' 59', '40']
[' 59', '41']
[' 59', '43']
[' 59', '47']
[' 59', '52']
[' 59', '53']
[' 59', '55']
[' 1', '00', '01']
 1
[' 1', '00', '03']
 1
[' 1', '00', '12']
 1
[' 1', '00', '12']
 1
[' 1', '00', '13']
 1
[' 1', '00', '13']
 1
[' 1', '00', '18']
 1
[' 1', '00', '18']
 1
[' 1', '00', '18']
 1
[' 1', '00', '19']
 1
[' 1', '00', '20']
 1
[' 1', '00', '23']
 1
[' 1', '00', '24']
 1
[' 1', '00', '39']
 1
[' 1', '00', '41']
 1
[' 1', '00', '42']
 1
[' 1', '00', '47']
 1
[' 1', '00', '49']
 1
[' 1', '00', '56']
 1
[' 1', '00', '59']
 1
[' 1', '01', '01']
 1
[' 1', '01', '10']
 1
[' 1', '01', '18']
 1
[' 1', '01', '19']
 1
[' 1', '01', '21']
 1
[' 1', '01', '22']
 1
[' 1', '01', '22']
 1
[' 1', '01', '27']
 1
[' 1', '01', '30']
 1
[' 1', '01', '30']
 1
[' 1', '01', '32']
 1
[' 1', '01', '35']
 1
[' 1', '01', '48']
 1
[' 1', '01', '48']
 1
[' 1', '01', '48']
 1
[' 1', '01', '49']
 1
[' 1', '02', '04']
 1
[' 1', '02', '05']
 1
[' 1', '02', '05']
 1
[' 1', '02', '06']
 1
[' 1', '02', '10']
 1
[' 1', '02', '18']
 1
[' 1', '02', '21']
 1
[' 1', '02', '22']
 1
[' 1', '02', '25']
 1
[' 1', '02', '29']
 1
[' 1', '02', '30']
 1
[' 1', '02', '36']
 1
[' 1', '02', '39']
 1
[' 1', '02', '41']
 1
[' 1', '02', '43']
 1
[' 1', '02', '44']
 1
[' 1', '02', '47']
 1
[' 1', '02', '48']
 1
[' 1', '02', '48']
 1
[' 1', '02', '48']
 1
[' 1', '03', '02']
 1
[' 1', '03', '03']
 1
[' 1', '03', '08']
 1
[' 1', '03', '17']
 1
[' 1', '03', '19']
 1
[' 1', '03', '34']
 1
[' 1', '03', '34']
 1
[' 1', '03', '36']
 1
[' 1', '03', '44']
 1
[' 1', '03', '44']
 1
[' 1', '03', '49']
 1
[' 1', '03', '51']
 1
[' 1', '03', '51']
 1
[' 1', '03', '53']
 1
[' 1', '04', '07']
 1
[' 1', '04', '09']
 1
[' 1', '04', '09']
 1
[' 1', '04', '10']
 1
[' 1', '04', '11']
 1
[' 1', '04', '16']
 1
[' 1', '04', '19']
 1
[' 1', '04', '19']
 1
[' 1', '04', '22']
 1
[' 1', '04', '25']
 1
[' 1', '04', '28']
 1
[' 1', '04', '30']
 1
[' 1', '04', '33']
 1
[' 1', '04', '35']
 1
[' 1', '04', '37']
 1
[' 1', '04', '40']
 1
[' 1', '04', '44']
 1
[' 1', '04', '48']
 1
[' 1', '04', '51']
 1
[' 1', '04', '55']
 1
[' 1', '04', '56']
 1
[' 1', '04', '57']
 1
[' 1', '04', '59']
 1
[' 1', '05', '12']
 1
[' 1', '05', '13']
 1
[' 1', '05', '14']
 1
[' 1', '05', '16']
 1
[' 1', '05', '16']
 1
[' 1', '05', '16']
 1
[' 1', '05', '19']
 1
[' 1', '05', '21']
 1
[' 1', '05', '27']
 1
[' 1', '05', '33']
 1
[' 1', '05', '37']
 1
[' 1', '05', '44']
 1
[' 1', '05', '48']
 1
[' 1', '05', '53']
 1
[' 1', '06', '04']
 1
[' 1', '06', '14']
 1
[' 1', '06', '19']
 1
[' 1', '06', '28']
 1
[' 1', '06', '32']
 1
[' 1', '06', '38']
 1
[' 1', '06', '41']
 1
[' 1', '06', '43']
 1
[' 1', '06', '45']
 1
[' 1', '06', '46']
 1
[' 1', '06', '50']
 1
[' 1', '06', '51']
 1
[' 1', '06', '52']
 1
[' 1', '06', '53']
 1
[' 1', '06', '55']
 1
[' 1', '07', '04']
 1
[' 1', '07', '14']
 1
[' 1', '07', '14']
 1
[' 1', '07', '16']
 1
[' 1', '07', '16']
 1
[' 1', '07', '16']
 1
[' 1', '07', '18']
 1
[' 1', '07', '18']
 1
[' 1', '07', '23']
 1
[' 1', '07', '25']
 1
[' 1', '07', '28']
 1
[' 1', '07', '35']
 1
[' 1', '07', '41']
 1
[' 1', '07', '46']
 1
[' 1', '07', '51']
 1
[' 1', '07', '52']
 1
[' 1', '07', '56']
 1
[' 1', '08', '07']
 1
[' 1', '08', '11']
 1
[' 1', '08', '12']
 1
[' 1', '08', '16']
 1
[' 1', '08', '17']
 1
[' 1', '08', '18']
 1
[' 1', '08', '22']
 1
[' 1', '08', '33']
 1
[' 1', '08', '42']
 1
[' 1', '08', '47']
 1
[' 1', '08', '52']
 1
[' 1', '08', '54']
 1
[' 1', '08', '56']
 1
[' 1', '08', '57']
 1
[' 1', '08', '58']
 1
[' 1', '09', '04']
 1
[' 1', '09', '06']
 1
[' 1', '09', '06']
 1
[' 1', '09', '14']
 1
[' 1', '09', '15']
 1
[' 1', '09', '16']
 1
[' 1', '09', '18']
 1
[' 1', '09', '18']
 1
[' 1', '09', '19']
 1
[' 1', '09', '20']
 1
[' 1', '09', '27']
 1
[' 1', '09', '29']
 1
[' 1', '09', '31']
 1
[' 1', '09', '49']
 1
[' 1', '09', '59']
 1
[' 1', '10', '01']
 1
[' 1', '10', '04']
 1
[' 1', '10', '06']
 1
[' 1', '10', '13']
 1
[' 1', '10', '37']
 1
[' 1', '10', '50']
 1
[' 1', '10', '51']
 1
[' 1', '10', '55']
 1
[' 1', '11', '00']
 1
[' 1', '11', '01']
 1
[' 1', '11', '07']
 1
[' 1', '11', '09']
 1
[' 1', '11', '10']
 1
[' 1', '11', '10']
 1
[' 1', '11', '12']
 1
[' 1', '11', '21']
 1
[' 1', '11', '31']
 1
[' 1', '11', '39']
 1
[' 1', '11', '40']
 1
[' 1', '11', '54']
 1
[' 1', '11', '56']
 1
[' 1', '11', '59']
 1
[' 1', '12', '02']
 1
[' 1', '12', '08']
 1
[' 1', '12', '09']
 1
[' 1', '12', '14']
 1
[' 1', '12', '19']
 1
[' 1', '12', '20']
 1
[' 1', '12', '32']
 1
[' 1', '12', '42']
 1
[' 1', '12', '43']
 1
[' 1', '12', '53']
 1
[' 1', '12', '55']
 1
[' 1', '13', '02']
 1
[' 1', '13', '08']
 1
[' 1', '13', '23']
 1
[' 1', '13', '25']
 1
[' 1', '13', '30']
 1
[' 1', '13', '44']
 1
[' 1', '13', '49']
 1
[' 1', '13', '49']
 1
[' 1', '14', '01']
 1
[' 1', '14', '10']
 1
[' 1', '14', '13']
 1
[' 1', '14', '18']
 1
[' 1', '14', '19']
 1
[' 1', '14', '22']
 1
[' 1', '14', '32']
 1
[' 1', '14', '40']
 1
[' 1', '14', '54']
 1
[' 1', '15', '13']
 1
[' 1', '15', '34']
 1
[' 1', '15', '38']
 1
[' 1', '15', '48']
 1
[' 1', '15', '51']
 1
[' 1', '15', '58']
 1
[' 1', '16', '00']
 1
[' 1', '16', '19']
 1
[' 1', '16', '25']
 1
[' 1', '16', '46']
 1
[' 1', '16', '48']
 1
[' 1', '16', '52']
 1
[' 1', '17', '06']
 1
[' 1', '17', '14']
 1
[' 1', '18', '08']
 1
[' 1', '18', '09']
 1
[' 1', '18', '56']
 1
[' 1', '20', '46']
 1
[' 1', '23', '08']
 1
[' 1', '23', '09']
 1
[' 1', '23', '10']
 1
[' 1', '23', '12']
 1
[' 1', '23', '30']
 1
[' 1', '23', '30']
 1
[' 1', '23', '45']
 1
[' 1', '23', '54']
 1
[' 1', '24', '09']
 1
[' 1', '24', '19']
 1
[' 1', '25', '11']
 1
[' 1', '25', '49']
 1
[' 1', '25', '49']
 1
[' 1', '26', '22']
 1
[' 1', '27', '08']
 1
[' 1', '28', '19']
 1
[' 1', '28', '33']
 1
[' 1', '29', '04']
 1
[' 1', '29', '04']
 1
[' 1', '31', '20']
 1
[' 1', '32', '10']
 1
[' 1', '32', '18']
 1
[' 1', '32', '20']
 1
[' 1', '32', '28']
 1
[' 1', '32', '30']
 1
[' 1', '33', '50']
 1
[' 1', '34', '45']
 1
[' 1', '34', '48']
 1
[' 1', '37', '10']
 1
[' 1', '38', '17']
 1
[' 1', '38', '31']
 1
[' 1', '38', '32']
 1
[' 1', '40', '47']
 1
[' 1', '41', '18']
 1