In [2]:
import pandas as pd

In [123]:
df_census = pd.read_csv("acs2017_census_tract_data.csv")
df_census = df_census[['State', 'County', 'TotalPop', 'Poverty', 'IncomePerCap']]
df_census.head()

     State          County  TotalPop  Poverty  IncomePerCap
0  Alabama  Autauga County      1845     10.7       33018.0
1  Alabama  Autauga County      2172     22.4       18996.0
2  Alabama  Autauga County      3385     14.7       21236.0
3  Alabama  Autauga County      4267      2.3       28068.0
4  Alabama  Autauga County      9965     12.2       36905.0

In [85]:
county_grouped = df_census.groupby(['State','County'])

             State           County  TotalPop  Poverty  IncomePerCap
0          Alabama   Autauga County      1845     10.7       33018.0
1          Alabama   Autauga County      2172     22.4       18996.0
2          Alabama   Autauga County      3385     14.7       21236.0
3          Alabama   Autauga County      4267      2.3       28068.0
4          Alabama   Autauga County      9965     12.2       36905.0
...            ...              ...       ...      ...           ...
73990  Puerto Rico  Yauco Municipio      2462     75.8        4918.0
73991  Puerto Rico  Yauco Municipio      3375     56.1        6853.0
73992  Puerto Rico  Yauco Municipio      3132     53.6        8198.0
73993  Puerto Rico  Yauco Municipio      3442     63.2        6023.0
73994  Puerto Rico  Yauco Municipio      4234     29.2       10642.0

[13342 rows x 5 columns]

In [40]:
county_grouped = county_grouped.agg({'TotalPop': 'sum', 'Poverty': 'mean', 'IncomePerCap': 'mean'})

In [41]:
county_grouped.head()

                        TotalPop    Poverty  IncomePerCap
State   County
Alabama Autauga County     55036  14.558333  26588.166667
        Baldwin County    203360  12.874194  29130.709677
        Barbour County     26201  27.755556  17891.666667
        Bibb County        22580  13.925000  21799.000000
        Blount County      57667  16.422222  21598.444444

In [72]:
county_grouped.loc[[('Virginia', 'Loudoun County'), ('Oregon', 'Washington County'), ('Kentucky', 'Harlan County'), ('Oregon', 'Malheur County')]]

                            TotalPop    Poverty  IncomePerCap
State    County
Virginia Loudoun County       374558   3.884375  50391.015625
Oregon   Washington County    572071  10.446154  34970.817308
Kentucky Harlan County         27548  33.318182  16010.363636
Oregon   Malheur County        30421  24.414286  17966.428571

In [173]:
df_covid = pd.read_csv("COVID_county_data.csv")

In [174]:
df_covid['date'] = pd.to_datetime(df_covid['date'])

In [175]:
df_covid.columns

Index(['date', 'county', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [176]:
mask = (df_covid['date'] >= '2020-12-01') & (df_covid['date'] <= '2020-12-31')
df_covid_dec = df_covid.loc[mask]
df_covid_dec = df_covid_dec.sum()[['cases', 'deaths']]

In [177]:
# df_covid[['cases_reproted_dec_2020', 'deaths_reported_dec_2020']] = df_covid.apply(lambda x: df_covid.loc[(df_covid['date'] >= '2020-12-01') & (df_covid['date'] <= '2020-12-31'), ['cases', 'deaths']].sum())
df_covid = df_covid[['state', 'county', 'cases', 'deaths']]
df_covid[['cases_reported_dec_2020', 'deaths_reported_dec_2020']] = df_covid_dec[['cases', 'deaths']]
df_covid.head()

,state,county,cases,deaths,cases_reproted_dec_2020,deaths_reported_dec_2020
0,Washington,Snohomish,1,0.0,526007804,9537613.0
1,Washington,Snohomish,1,0.0,526007804,9537613.0
2,Washington,Snohomish,1,0.0,526007804,9537613.0
3,Illinois,Cook,1,0.0,526007804,9537613.0
4,Washington,Snohomish,1,0.0,526007804,9537613.0

In [178]:
df_covid.head()

,state,county,cases,deaths,cases_reproted_dec_2020,deaths_reported_dec_2020
0,Washington,Snohomish,1,0.0,526007804,9537613.0
1,Washington,Snohomish,1,0.0,526007804,9537613.0
2,Washington,Snohomish,1,0.0,526007804,9537613.0
3,Illinois,Cook,1,0.0,526007804,9537613.0
4,Washington,Snohomish,1,0.0,526007804,9537613.0

In [185]:
covid_grouped = df_covid.groupby(['state', 'county'])
covid_grouped = covid_grouped.agg({'cases': 'sum', 'deaths': 'sum', 'cases_reported'})
covid_grouped

                    cases   deaths
state   county
Alabama Autauga    645935   9042.0
        Baldwin   2003567  23041.0
        Barbour    268771   4077.0
        Bibb       261043   5272.0
        Blount     630106   8669.0
...                   ...      ...
Wyoming Teton      305376    617.0
        Uinta      200783   1037.0
        Unknown        37      0.0
        Washakie    84354   2622.0
        Weston      56976    286.0

[3274 rows x 2 columns]