In [314]:
import pandas as pd

In [377]:
df_census = pd.read_csv("acs2017_census_tract_data.csv")
df_census = df_census[['State', 'County', 'TotalPop', 'Poverty', 'IncomePerCap']]
df_census['County'] = df_census['County'].map(lambda x: x.strip('County').strip())
df_census.head()

     State   County  TotalPop  Poverty  IncomePerCap
0  Alabama  Autauga      1845     10.7       33018.0
1  Alabama  Autauga      2172     22.4       18996.0
2  Alabama  Autauga      3385     14.7       21236.0
3  Alabama  Autauga      4267      2.3       28068.0
4  Alabama  Autauga      9965     12.2       36905.0

In [378]:
county_grouped = df_census.groupby(['State','County'])

In [375]:
county_grouped = county_grouped.agg({'TotalPop': 'sum', 'Poverty': 'mean', 'IncomePerCap': 'mean'})

In [376]:
county_grouped.head()

               TotalPop    Poverty  IncomePerCap
County
                   6000  15.150000  21979.000000
Abbeville         24788  22.183333  19402.833333
Acadia Parish     62607  21.933333  21454.250000
Accomack          32840  20.112500  24769.750000
Ada              435117  12.608475  32672.661017

In [358]:
county_grouped.loc[[('Virginia', 'Loudoun'), ('Oregon', 'Washington'), ('Kentucky', 'Harlan'), ('Oregon', 'Malheur')]]

                     TotalPop    Poverty  IncomePerCap
State    County
Virginia Loudoun       374558   3.884375  50391.015625
Oregon   Washington    572071  10.446154  34970.817308
Kentucky Harlan         27548  33.318182  16010.363636
Oregon   Malheur        30421  24.414286  17966.428571

In [359]:
df_covid = pd.read_csv("COVID_county_data.csv")

In [360]:
df_covid['date'] = pd.to_datetime(df_covid['date'])
df_covid.rename(columns={'state': 'State', 'county': 'County'}, inplace=True)

In [361]:
df_covid.columns

Index(['date', 'County', 'State', 'fips', 'cases', 'deaths'], dtype='object')

In [362]:
mask = (df_covid['date'] >= '2020-12-01') & (df_covid['date'] <= '2020-12-31')
df_covid_dec = df_covid.loc[mask]
# df_covid_dec = df_covid_dec.sum()[['cases', 'deaths']]
df_covid_dec.head()

             date   County    State    fips  cases  deaths
784134 2020-12-01  Autauga  Alabama  1001.0   2818    42.0
784135 2020-12-01  Baldwin  Alabama  1003.0   9051   137.0
784136 2020-12-01  Barbour  Alabama  1005.0   1189    11.0
784137 2020-12-01     Bibb  Alabama  1007.0   1204    18.0
784138 2020-12-01   Blount  Alabama  1009.0   3061    40.0

In [363]:
covid_grouped_dec = df_covid_dec.groupby(['State', 'County'])
covid_grouped_dec = covid_grouped_dec.sum()
covid_grouped_dec.head()

                    fips   cases  deaths
State   County
Alabama Autauga  31031.0  108652  1355.0
        Baldwin  31093.0  348455  4502.0
        Barbour  31155.0   40753   931.0
        Bibb     31217.0   47009  1244.0
        Blount   31279.0  121270  1590.0

In [364]:
# df_covid[['cases_reproted_dec_2020', 'deaths_reported_dec_2020']] = df_covid.apply(lambda x: df_covid.loc[(df_covid['date'] >= '2020-12-01') & (df_covid['date'] <= '2020-12-31'), ['cases', 'deaths']].sum())
df_covid = df_covid[['State', 'County', 'cases', 'deaths']]
df_covid.head()

        State     County  cases  deaths
0  Washington  Snohomish      1     0.0
1  Washington  Snohomish      1     0.0
2  Washington  Snohomish      1     0.0
3    Illinois       Cook      1     0.0
4  Washington  Snohomish      1     0.0

In [365]:
df_covid.head()

        State     County  cases  deaths
0  Washington  Snohomish      1     0.0
1  Washington  Snohomish      1     0.0
2  Washington  Snohomish      1     0.0
3    Illinois       Cook      1     0.0
4  Washington  Snohomish      1     0.0

In [366]:
covid_grouped = df_covid.groupby(['State', 'County'])
covid_grouped = covid_grouped.agg({'cases': 'sum', 'deaths': 'sum'})
covid_grouped [['cases_reported_dec_2020', 'deaths_reported_dec_2020']] = covid_grouped_dec[['cases', 'deaths']]
covid_grouped.head()

                   cases   deaths  cases_reported_dec_2020  \
State   County
Alabama Autauga   645935   9042.0                 108652.0
        Baldwin  2003567  23041.0                 348455.0
        Barbour   268771   4077.0                  40753.0
        Bibb      261043   5272.0                  47009.0
        Blount    630106   8669.0                 121270.0

                 deaths_reported_dec_2020
State   County
Alabama Autauga                    1355.0
        Baldwin                    4502.0
        Barbour                     931.0
        Bibb                       1244.0
        Blount                     1590.0

In [367]:
df = covid_grouped.join(county_grouped)

In [368]:
df.head()

                   cases   deaths  cases_reported_dec_2020  \
State   County
Alabama Autauga   645935   9042.0                 108652.0
        Baldwin  2003567  23041.0                 348455.0
        Barbour   268771   4077.0                  40753.0
        Bibb      261043   5272.0                  47009.0
        Blount    630106   8669.0                 121270.0

                 deaths_reported_dec_2020  TotalPop    Poverty  IncomePerCap
State   County
Alabama Autauga                    1355.0   55036.0  14.558333  26588.166667
        Baldwin                    4502.0  203360.0  12.874194  29130.709677
        Barbour                     931.0   26201.0  27.755556  17891.666667
        Bibb                       1244.0   22580.0  13.925000  21799.000000
        Blount                     1590.0   57667.0  16.422222  21598.444444